{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <h3 class="text-center mt-3 mb-5 border-bottom" style="color: #696969;">Ecosystem Database</h3>

  <div class="container-lg">
    <div class="row">
      <div class="col-md-7">
          <h3 style="color: #808080;">Do the pre-conditions for a Learning Ecosystem success exist?</h3>
          
          {% for list in lists %}
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">{{list.eco_name}}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{list.template_conditions}}</td>
            </tbody>
          </table>
          {% endfor %}
      </div>
      <div class="col-md-5">
          <h3 class="mb-2" style="color: #808080;">Ecosystem Location Template</h3>
          <form method="post">
              {{form|crispy}}
              {% csrf_token %}
              <button type="submit" class="btn btn-block btn-secondary">Submit</button>
          </form>
      </div>
  </div>
  </div>
{% endblock content %}